.container_ {
    height: 100px;
    width: 100px;
    background-color: #8756F3;
}
.container_1 {
    height: 100px;
    width: 100px;
    background-color: #12F467;
}

.container_2 {
    height: 100px;
    width: 100px;
    background-color: #007743;
}

.semaforo {
    background-color: rgb(2, 29, 2);
    height: 200px;
    width: 100px;
    
}

.semaforo__circulo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 5px solid white;
}

.semaforo__circulo.rojo {
    background-color: rgb(255, 0, 0);
  }

.semaforo__circulo.amarillo {
    background-color: rgb(255, 157, 0);
  }

.semaforo__circulo.verde {
    background-color: rgb(81, 255, 0);
  }